{% extends 'base_sidebar.html' %}

{% load future %}
{% load i18n markup %}
{% load paging_extras thumbnail thumbnail_margin %}
{% load statictags %}

{% block title %}{% trans "Photo Contest Terms and Conditions" %}{% endblock %}

{% block content %}
<h3>Положение о фотоконкурсе «Год активного отдыха в Киевской области»</h3>
<ol>
    <li>
        <h4>Общие положения:</h4>
        <ol>
            <li>Конкурс туристической фотографии «Год активного отдыха в Киевской области» (далее - Фотоконкурс)
                проводится Коммунальным учреждением Киевского областного совета «Киевский областной центр развития
                туризма».
            </li>
            <li>Фотоконкурс ориентирован на фотографов-любителей и профессиональных фотографов, а также всех, кто
                занимается фотографией и имеет собственные фотографии на туристическую тематику, отражающие
                туристический потенциал Киевской области.
            </li>
            <li>Настоящее Положение о Фотоконкурс «Год активного отдыха в Киевской области» (далее - Положение)
                определяет процедуру конкурсного отбора и регламентирует вопросы, возникающие в процессе его
                проведения.
            </li>
        </ol>
    </li>
    <li>
        <h4>Общие цели Фотоконкурса:</h4>
        <ul>
            <li>создание привлекательного имиджа Киевской области и ее историко-культурного и туристического
                потенциала;
            </li>
            <li>привлечь внимание широкой общественности к историко-культурному наследию и новым возможностям отдыха
                в Киевской области;
            </li>
            <li>пропаганда туристических центров Киевской области;</li>
            <li>привлечение внимания широкого круга общественности и государственных учреждений к
                историко-культурному и туристическому потенциалу Киевщины;
            </li>
            <li>акцентирование позитивного интереса украинских граждан к туристско-рекреационному потенциалу
                Киевской области;
            </li>
            <li>повышение престижа и имиджа Украинского туризма.</li>
        </ul>
    </li>
    <li>
        <h4>Участники Фотоконкурса:</h4>
        <ol>
            <li>В фотоконкурсе могут принимать участие профессиональные фотографы и фотографы-любители, которые
                имеют фото-работы на туристическую тематику.
            </li>
            <li>На конкурс принимаются работы туристической тематики, которые отражают активный отдых в Киевской
                области (при проведении фестивалей, ярмарок, праздников и других событий).
            </li>
            <li>Для участия в фотоконкурсе нужно зарегистрироваться на официальном туристическом сайте Киевской
                области – www.ko-tourism.gov.ua (далее - сайте). Регистрация на сайте является подтверждением
                участия в фотоконкурсе и согласием с условиями его проведения, что дает разрешение на обработку
                персональных данных организатором, предоставленных участником фотоконкурса. Регистрация на сайте
                дает возможность выкладывать свои работы на Интернет-площадку Фотоконкурса.
            </li>
            <li>Участник должен указать свое реальное имя в поле формы регистрации на сайте.</li>
        </ol>
    </li>
    <li>
        <h4>Требования к работам:</h4>
        <ol>
            <li>Для участия в фотоконкурсе принимаются фотографии, выполненные в течение 2012-2013 годов,
                владельцами которых являются участники фотоконкурса. К участию в фотоконкурсе принимаются не более
                10 работ от каждого участника, представленные в цифровом виде в формате «PNG» или «JPG». Если автор
                предоставил более 10 работ, администрация Фотоконкурса решает вопрос выбора по публикации по своему
                усмотрению, но в количестве не более 10-ти. Если 10 работ автора уже опубликовано, новые работы не
                публикуются.
            </li>
            <li>По запросу Организатора оригинальный файл работы предоставляется автором в формате «TIF» или «JPG»
                расширением не менее 72 dpi в виде электронных файлов, направляются на электронный адрес отдела
                Организатора, отвечающий за Фотоконкурс: reklama@ko-tourism.gov.ua.
            </li>
            <li>Фотографии безвозмездно передаются организаторам для некоммерческого использования и пропаганды
                активного отдыха на территории Киевской области. Фото сопровождается коротким названием.
            </li>
            <li>Условия фотоконкурса не ограничивают авторов работ при выборе сюжета: это могут быть отдельные
                фотографии, фоторепортажи, отражающие туристический потенциал Киевской области, развитие активных
                видов туризма.
            </li>
            <li>Работа не должна содержать монтажа с помощью любых дизайнерских программ и графических редакторов. К
                участию допускаются только оригинальные фотографии.
            </li>
        </ol>
    </li>
    <li>
        <h4>Условия проведения:</h4>
        <ol>
            <li>Конкурс проводится с 01.06.2013 г. по 31.08.2013 г. Конечный срок предоставления работ – 25.08.2013
                г. (24-00).
            </li>
            <li>Победитель фотоконкурса определяется путем открытого голосования на официальном туристическом сайте
                Киевской области. За фото голосовать можно только один раз в день.
            </li>
            <li>Победителем фотоконкурса считается участник, фотография которого набрала наибольшее количество
                голосов.
            </li>
            <li>Победитель фотоконкурса награждается ценным призом.</li>
            <li>Номинации: три лучшие работы фотоконкурса получат поощрительные призы.</li>
            <li>Пятнадцать лучших работ участников конкурса будут представлены на официальном туристическом сайте
                «Киевщина туристическая», при изготовлении туристического календаря и полиграфической продукции
                туристической тематики.
            </li>
            <li>Стоимость и размеры ценного и поощрительного призов будут дополнительно объявлены на сайте во время
                проведения Фотоконкурса.
            </li>
            <li>На странице фотоконкурса есть функция «Нравится» для социальных сетей. Участник, фотография которого
                набрала наибольшее расположение аудитории социальных сетей, получит специальный приз от
                Организатора. Подробнее о специальном приз будет объявлено на сайте во время проведения
                Фотоконкурса.
            </li>
            <li>В случае возникновения проблем и вопросов технического характера, связанных с использованием функций
                Интернет-площадки Фотоконкурса, обращайтесь в форме письма на электронный адрес отдела Организатора,
                отвечающего за Фотоконкурс: reklama@ko-tourism.gov.ua.
            </li>
        </ol>
    </li>
    <li>
        <h4>Призы:</h4>
        <ol class='photocontest-prize-list'>
            <li>
                <img src="{% static 'images/photocontest/photocontest_2013_06_partner_logo_1.png' %}" title="База Автозвука"/>
                Главный приз &mdash; <a href="http://avtozvuk.ua/info/22360" target="_blank">GPS навигатор Prology iMap-7020M</a>, предоставлен партнером Фотоконкурса <a href="http://avtozvuk.ua/" target="_blank">«База Автозвука»</a>.
            </li>
            <li>
                <img src="{% static 'images/photocontest/photocontest_2013_06_partner_logo_2.png' %}" title="Украинская Ассоциация активного и экологического туризма"/>
                Приз &mdash; спальный мешок "Pharaon", предоставлен партнером Фотоконкурса <a href="http://uaeta.org/" target="_blank">«Украинская Ассоциация активного и экологического туризма»</a>.
            </li>
            <li>
                <img src="{% static 'images/photocontest/photocontest_2013_06_partner_logo_3.png' %}" title="Парк Киевская Русь"/>
                Поощрительный приз &mdash; приглашение на два человека в "Парк Киевская Русь", предоставлен партнером Фотоконкурса <a href="http://www.parkkyivrus.com/" target="_blank">«Парк Киевская Русь»</a>.
            </li>
        </ol>
    </li>
</ol>
<p><a href='{% url 'photocontest_list' %}'>{% trans "Return to the photo contest" %}.</a></p>
{% endblock %}
