{% extends 'base_sidebar.html' %}

{% load future %}
{% load i18n markup %}
{% load paging_extras thumbnail thumbnail_margin %}
{% load statictags %}

{% block title %}{% trans "Photo Contest Terms and Conditions" %}{% endblock %}

{% block content %}
<h3>Положення про фотоконкурс «Рік активного відпочинку в Київській області»</h3>
<ol>
    <li>
        <h4>Загальні положення:</h4>
        <ol>
            <li>Конкурс туристичної фотографії «Рік активного відпочинку в Київській області» (далі –
                Фотоконкурс) проводиться Комунальною установою Київської обласної ради «Київський обласний
                центр розвитку туризму».
            </li>
            <li>Фотоконкурс орієнтований на фотографів-любителів та фотографів-професіоналів, а також усіх, хто
                займається фотографією і має власні фотографії на туристичну тематику, які відображають туристичний
                потенціал Київської області.
            </li>
            <li>Дійсне Положення про Фотоконкурс «Рік активного відпочинку в Київській області» (далі –
                Положення) визначає процедуру конкурсного відбору та регламентує питання, які виникають в процесі
                його проведення.
            </li>
        </ol>
    </li>
    <li>
        <h4>Загальні цілі Фотоконкурсу:</h4>
        <ul>
            <li>створення привабливого іміджу Київської області та її історико-культурного та туристичного
                потенціалу;
            </li>
            <li>привернути увагу широкої громадськості до історико-культурної спадщини та нових можливостей
                відпочинку в Київській області;
            </li>
            <li>пропаганда туристичних центрів Київської області;</li>
            <li>привернення уваги широкого кола громадськості та державних установ до історико-культурного та
                туристичного потенціалу Київщини, які потребують негайного вирішення проблемних питань;
            </li>
            <li>акцентування позитивного інтересу українських громадян до туристично-рекреаційного потенціалу
                Київської області;
            </li>
            <li>підвищення престижу та іміджу українського туризму.</li>
        </ul>
    </li>
    <li>
        <h4>Учасники Фотоконкурсу:</h4>
        <ol>
            <li>У Фотоконкурсі можуть приймати участь професійні фотографи та фотографи-любителі, які мають
                фотороботи на туристичну тематику.
            </li>
            <li>На конкурс приймаються роботи туристичної тематики, які відображають активний відпочинок в
                Київській області (під час проведення фестивалів, ярмарок, свят та інших подій).
            </li>
            <li>Для участі у фотоконкурсі потрібно зареєструватися на офіційному туристичному сайті Київської
                області www.ko-tourism.gov.ua (далі – сайті). Реєстрація на сайті є підтвердженням участі у
                Фотоконкурсі та згоди з умовами його проведення, що надає згоду на обробку персональних даних
                організатором, наданих учасником Фотоконкурсу. Реєстрація на сайті надає можливість викладати свої
                роботи на Інтернет майданчик Фотоконкурсу.
            </li>
            <li>Учасник має вказати своє реальне ім’я в полі форми реєстрації на сайті.</li>
        </ol>
    </li>
    <li>
        <h4>Вимоги до робіт:</h4>
        <ol>
            <li>Для участі у Фотоконкурсі приймаються фотографії, виконані протягом 2012-2013 років, власниками
                яких є учасники Фотоконкурсу. До участі у Фотоконкурсі приймаються не більше 10-робіт від кожного
                учасника, подані у цифровому вигляді у форматі «PNG» або «JPG». Якщо автор
                надав більш ніж 10 робіт, адміністрація Фотоконкурсу вирішує питання вибору щодо публікації на свій
                власний розсуд, але в кількості не більше 10-ти. Якщо 10 робіт автора вже опубліковано, нові роботи
                не публікуються.
            </li>
            <li>За запитом Організатора оригінальний файл роботи надається автором у форматі «TIF»
                або «JPG» розширенням не менше 72 dpi у вигляді електронних файлів, що надсилаються на
                електронну адресу відділу Організатора, що відповідає за Фотоконкурс: <br>
                reklama@ko-tourism.gov.ua.
            </li>
            <li>Фотографії безоплатно передаються організаторам для некомерційного використання та пропагування
                активного відпочинку на території Київської області. Фото супроводжується короткою назвою.
            </li>
            <li>Умови фотоконкурсу не обмежують авторів робіт при виборі сюжету: це можуть бути окремі
                фотознімки, фоторепортажі, які відображають туристичний потенціал Київської області, розвиток
                активних видів туризму.
            </li>
            <li>Робота не має містити монтажу за допомогою будь-яких дизайнерських програм та графічних
                редакторів. До участі допускаються лише оригінальні фотографії.
            </li>
        </ol>
    </li>
    <li>
        <h4>Умови проведення:</h4>
        <ol>
            <li>Конкурс проводиться з 01.06.2013 р. по 31.08.2013 р.. Кінцевий строк надання робіт – 25.08.2013
                р. (24-00).
            </li>
            <li>Переможець Фотоконкурсу визначається шляхом відкритого голосування на офіційному туристичному
                сайті Київської області. За фото голосувати можна лише один раз в день.
            </li>
            <li>Переможцем Фотоконкурсу вважається учасник, фотографія якого набрала найбільшу кількість
                голосів.
            </li>
            <li>Переможець Фотоконкурсу нагороджується цінним призом.</li>
            <li>Номінації: три кращі роботи Фотоконкурсу отримають заохочувальні призи.</li>
            <li>П'ятнадцять кращих робіт учасників конкурсу будуть представлені на офіційному туристичному
                сайті «Київщина туристична» та при виготовленні туристичного календаря поліграфічної продукції
                туристичної тематики.
            </li>
            <li>Вартість та розміри цінного та заохочувального призів будуть додатково оголошені на сайті під
                час проведення Фотоконкурсу.
            </li>
            <li>На Фотоконкурсі є функція «Подобається» для соціальних мереж. Учасник, фотографія якого набрала
                найбільшу прихильність аудиторії соціальних мереж, отримає спеціальний приз від Організатора.
                Детальніше про спеціальний приз буде оголошено на сайті під час проведення Фотоконкурсу.
            </li>
            <li>У разі виникнення проблем та питань технічного характеру, пов’язаних із використанням функцій
                Інтернет майданчику Фотоконкурсу, просимо звертатись у формі листа на електронну адресу відділу
                Організатора, що відповідає за Фотоконкурс: <br> reklama@ko-tourism.gov.ua.
            </li>
        </ol>
    </li>
    <li>
        <h4>Призи:</h4>
        <ol class='photocontest-prize-list'>
            <li>
                <img src="{% static 'images/photocontest/photocontest_2013_06_partner_logo_1.png' %}" title="База Автозвука"/>
                Головний приз &mdash; <a href="http://avtozvuk.ua/info/22360" target="_blank">GPS навiгатор Prology iMap-7020M</a>, надано партнером Фотоконкурсу <a href="http://avtozvuk.ua/" target="_blank">«База Автозвука»</a>.
            </li>
            <li>
                <img src="{% static 'images/photocontest/photocontest_2013_06_partner_logo_2.png' %}" title="Українська Асоціація активного та екологічного туризму"/>
                Приз &mdash; спальний мішок "Pharaon", надано партнером Фотоконкурсу <a href="http://uaeta.org/" target="_blank">«Українська Асоціація активного та екологічного туризму»</a>.
            </li>
            <li>
                <img src="{% static 'images/photocontest/photocontest_2013_06_partner_logo_3.png' %}" title="Парк Київська Русь"/>
                Заохочувальний приз &mdash; запрошення на дві особи в "Парк Київська Русь", надано партнером Фотоконкурсу <a href="http://www.parkkyivrus.com/" target="_blank">«Парк Київська Русь»</a>.
            </li>
        </ol>
    </li>
</ol>
<p><a href='{% url 'photocontest_list' %}'>{% trans "Return to the photo contest" %}.</a></p>
{% endblock %}
