<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11584056-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter8141884 = new Ya.Metrika({id:8141884, enableAll: true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/8141884" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

{% comment %}
<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=8141884&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/8141884/3_1_FF0000FF_FF0000FF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Кабельный TOP Украины, code for http://ukrcomline.com.ua -->
<a href="http://procable.com.ua/top/">
<script language="javascript">java="1.0";java1=""+"refer="+escape(document.referrer)+"&page="+escape(window.location.href);document.cookie="astratop=1; path=/"; java1+="&c="+(document.cookie?"yes":"now");</script>
<script language="javascript1.1">java="1.1";java1+="&java="+(navigator.javaEnabled()?"yes":"now")</script>
<script language="javascript1.2">java="1.2";java1+="&razresh="+screen.width+'x'+screen.height+"&cvet="+(((navigator.appName.substring(0,3)=="Mic"))?screen.colorDepth:screen.pixelDepth)</script><script language="javascript1.3">java="1.3"</script>
<script language="javascript">java1+="&jscript="+java+"&rand="+Math.random();document.write("<a href='http://procable.com.ua/top/?fromsite=66' target='_blank'><img "+" src='http://procable.com.ua/top/img.php?id=66&"+java1+"&' border=0 alt='Кабельный TOP Украины' title='Кабельный TOP Украины' width='88' height='31'></a>")</script>
<noscript><a href=http://procable.com.ua/top/?fromsite=66 target=_blank><img src="http://procable.com.ua/top/img.php?id=66" border=0 alt="Кабельный TOP Украины" width='88' height='31'></a></noscript>
</a>
<!-- /Кабельный TOP Украины -->
{% endcomment %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9617116-21', 'ukrcomline.com.ua');
  ga('send', 'pageview');

</script>

<!-- hit.ua -->
<a href='http://hit.ua/?x=40046' target='_blank'>
<script language="javascript" type="text/javascript"><!--
Cd=document;Cr="&"+Math.random();Cp="&s=1";
Cd.cookie="b=b";if(Cd.cookie)Cp+="&c=1";
Cp+="&t="+(new Date()).getTimezoneOffset();
if(self!=top)Cp+="&f=1";
//--></script>
<script language="javascript1.1" type="text/javascript"><!--
if(navigator.javaEnabled())Cp+="&j=1";
//--></script>
<script language="javascript1.2" type="text/javascript"><!--
if(typeof(screen)!='undefined')Cp+="&w="+screen.width+"&h="+
screen.height+"&d="+(screen.colorDepth?screen.colorDepth:screen.pixelDepth);
//--></script>
<script language="javascript" type="text/javascript"><!--
Cd.write("<img src='http://c.hit.ua/hit?i=40046&g=0&x=2"+Cp+Cr+
"&r="+escape(Cd.referrer)+"&u="+escape(window.location.href)+
"' border='0' wi"+"dth='1' he"+"ight='1'/>");
//--></script>
<noscript>
<img src='http://c.hit.ua/hit?i=40046&amp;g=0&amp;x=2' border='0'/>
</noscript></a>
<!-- / hit.ua -->
