{% extends 'base.html' %}

{% load future %}
{% load markup %}
{% load paging_extras %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>

    <p>В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>

    <div>
        <form class='page-form' action='{% url 'account:password' %}' method='POST'>{% csrf_token %}
            {{ form }}
            <div class='submit-container sprites sprites-button_page_form_submit-png'><input type='submit' value='Отправить'/></div>
        </form>
    </div>

    <p>Если же вы не помните старый пароль, вы можете восстановить пароль в
        <a href='{% url 'account:reset' %}'>форме восстановления пароля</a>,
        где вам нужно будет указать адрес своей почты, на которую будет отправлено письмо с инструкциями.</p>
{% endblock %}
