{% extends 'base.html' %}

{% load future %}
{% load markup %}
{% load paging_extras %}

{% block title %}Забыли пароль?{% endblock %}

{% block content %}
    <h1>Забыли пароль?</h1>

    <p>Если вы забыли логин или пароль, введите свой адрес электронной почты, который вы указывали при регистрации
        и мы вышлем на указанный адрес инструкции по восстановлению пароля.</p>

    <div>
        <form class='page-form' action='{% url 'account:reset' %}' method='POST'>{% csrf_token %}
            {{ form }}
            <div class='submit-container sprites sprites-button_page_form_submit-png'><input type='submit' value='Отправить'/></div>
        </form>
    </div>

    <p>Если же вы и адрес не помните, напишите нам в <a href='{% url 'feedback:show' %}'>форме обратной связи</a>
        о вашей проблеме и мы постараемся её решить.</p>
{% endblock %}
