{% extends 'base.html' %}

{% load future %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
    {{ block.super }}
    <p>Уважаемые посетители сайта!</p>
    <p>Мы заботимся о <strong>каждом</strong> клиенте и готовы уделить ему столько времени, сколько требуется.</p>
    <p>Если у Вас есть вопросы, пожелания или замечания, напишите нам о них.
        Наши менеджеры в кратчайшие сроки обязательно свяжутся с Вами и ответят на все вопросы.</p>
    <form id='feedback' class='page-form' action='/404/' method='POST'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form }}
        <div class='submit-container sprites sprites-button_page_form_submit-png'><input type='submit' value="Отправить сообщение"/></div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type='text/javascript' charset='utf-8'>
        $(function() {
            $('#feedback').attr('action', '{% url 'feedback:show' %}');
        });
    </script>
{% endblock %}
