{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script>
        $(document).ready(function() {
            $(".object_id").append("<div id='lookup_box'></div>");
            var link_root = '../../../catalogue/work/';
            $("#lookup_box").html("<a onclick='return showRelatedObjectLookupPopup(this);' id='lookup_id_object_id' class='related-lookup'></a>");
            $("#lookup_id_object_id").text("Lookup Work");
            $("#lookup_id_object_id").attr('href', link_root);
        });
    </script>
{% endblock %}
