{% for host in hosts %}{% if host.generate %}
<VirtualHost *:{{ port }}>
{% for domain in host.domains %}
    {% if loop.first %}ServerName{% else %}ServerAlias{% endif %} {{ domain }}
    ServerAlias www.{{ domain }}
{% endfor %}
    ServerAdmin {{ env.zone_email }}

    AccessFileName .htaccess

    RUidGid {{ user }} {{ user }}

    DocumentRoot {{ root }}{{ host.path }}
    <Directory {{ root }}{{ host.path }}/>
            Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
    </Directory>

    #ErrorLog /home/ubuntu/log/apache2/{{ host.name }}.error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    #CustomLog /home/ubuntu/log/apache2/{{ host.name }}.access.log combined
    {% if host.system == 'bitrix' %}
    <IfModule mod_php5.c>
        php_admin_value mbstring.func_overload 2
        php_admin_value mbstring.internal_encoding UTF-8
    </IfModule>
    {% endif %}
</VirtualHost>
{% endif %}{% endfor %}
