{% extends 'static_content_base.html' %}

{% load i18n %}

{% block title %}Painting internet gallery-museum, on-line art picture gallery, arts online Kiev{% endblock %}

{% block breadcrumbs_title %}{% trans "About" %}{% endblock %}

{% block content %}
    <h1>{% trans "About" %}</h1>
    <p>Project raisonne.info represents systematization of famous ukrainian painters arts creativity in internet.
    Raisonne.info gives free access to archives of authentic creative works of painters, history of their creation;
    it allows to place works from private collections with publishing a collector or staying incognito.</p>

    <p>On the project basis we form the society of painters descendants that own the author rights and inform about their famous parents.
    Among them are Zaretsky's family, Grigoriev's family and others.
    Our project cooperates with known experts that provide expertises either on basis of signature analyses, oil layers, craquelures presence,
    or chemical lab analyses.</p>

    <p>Our special thrill is the authenticity of published works:
    <ul>
        <li>We publish originals only.</li>
        <li>When a painting comes to us to be published our specialists analyse it on its authenticity:
            we check different catalogues that were issued in different years for its presence there. Our experts keep different analyses.</li>
        <li>The painting is checked by descendant who confirms its belonging to his parent.</li>
    </ul></p>

    <p>There are many first-class painters' works that are unknown for the society.
    Because of easy profit hunting unconscientious art traders threw many false paintings on the market that were sold as
    originals.
    Project raisonne.info tries to protect connoisseur of art from buying falses.
    And we manage it. We possess many paintings in our catalogues that are systematized by creative periods, so a collector
    can compare before buying.</p>

    <p>Raisonne.info lets find a painting by parameters, for example,
    a user wants to look through a list of oil pictures by Zaretsky Victor.
    He chooses Zaretsky from the list of painters and marks the field technique: oil.
    System selects all works by Zaretsky that were painted by oil and displays them as catalogue.</p>
    <p>There is an important possibility of the project to enlarge image of a painting. It allows to see details, author's stylistics, signature etc.
    It was realized on Deep Zoom technology.
    System is highly protected from unwarranted access, stealing of qualitative content from site.
    If someone tries to copy content it is only available to copy a piece of image depending on display resolution.
    It is impossible to get full-size qualitative image to file from site.
    It is necessary to involve high-qualified programmers team to crack the system. The result won't be compensated. Complexity
    makes crack unreasonable.</p>
    <p>Project grows rapidly. We have built a section where a user can purchase a painting online.
    We support paintings' ranking depending on user references.
    we plan to build a map of painter creativity that builds diagram of works' quantity by the period of creativity. </p>
{% endblock %}
