{% extends 'static_content_base.html' %}

{% load i18n %}

{% block title %}Картинна галерея-музей в інтернеті, on-line галерея картин, живопис онлайн Київ{% endblock %}

{% block breadcrumbs_title %}{% trans "About" %}{% endblock %}

{% block content %}
    <h1>{% trans "About" %}</h1>
    <p>Проект raisonne.info являє собою систематизацію творчості видатних українських художників в мережі Інтернет.
    Raisonne.info – це вільний доступ інтернет користувача до архіву автентичних творів художників, до історії їхнього створення;
    це майданчик, на якому можуть бути розміщені твори з приватних колекцій із публікацією інформації про власника або у форматі інкогніто.</p>

    <p>На базі проекту формується спільнота нащадків художників, які є правонабувачами авторських прав,
    а також носіями інформації про їхніх видатних батьків. Серед них Зарецькі, Григор'єви та інші.
    З нашим проектом співпрацюють іменовані експерти України, що надають висновки на основі як аналізу підпису твору,
    шарів нанесення фарб, наявності кракелюра, так і хімічного аналізу, що проводиться в лабораторії.</p>

    <p>Родзинкою проекту є справжність наявних творів:
    <ul>
        <li>В проекті публікуються лише оригінали.</li>
        <li>При потраплянні твору до нас для його розміщення в веб каталозі нашими спеціалістами проводиться аналіз автентичності:
            перевіряються каталоги, видані в різні роки, на наявність твору, що розміщується, в каталогах. Експертами проводиться різноплановий аналіз твору.</li>
        <li>Твір проходить перевірку нащадком, який може підтвердити приналежність пензлю предка з особистих спогадів.</li>
    </ul></p>

    <p>Існує багато першокласних творів художників, про які громадськість навіть не здогадується.
    Через гонитву за легким прибутком несвідомі торгівці антикваріатом і картинами викинули на ринок багато фальшованих робіт,
    яким присвоювалися імена великих майстрів.
    Проект raisonne.info прагне захистити поціновувача мистецтва від придбання фальшивих витворів.
    І нам це вдається в тому сенсі, що маючи в своїх каталогах велику кількість творів, поділених на періоди творчості,
    колекціонер може провести порівняння твору перед покупкою на аукціоні із творами цього періоду, розміщеними на raisonne.</p>

    <p>Raisonne.info дозволяє знайти твір, що цікавить, за характеристиками: наприклад,
    користувач хоче продивитися список картин, написаних олією художником Зарецьким Віктором Івановичем.
    Він обирає Зарецького зі списку художників і ставить галочку на полі техніка: олія.
    Система надає йому всі твори художника, що написані олією, в формі каталогу.</p>
    <p>Дуже важливою відзнакою проекту є можливість збільшити зображення твору, що зацікавив, для детального аналізу штрихів автора, підпису та іншого.
    Ця можливість реалізована за допомогою технології Deep Zoom.
    Система максимально захищена від несанкціонованого доступу, від крадіжки якісного матеріала з сайту.
    Як би хтось не намагався скопіювати матеріал, максимум, на що він спроможеться, – це скопіювати шматок зображення
    в залежності від роздільності дисплею. Отримати повнофункціональне якісне зображення у файл з сайту користувач не може.
    Для злому системи потрібно підключити команду програмістів-професіоналів. Результат не окупить витрати на злом,
    тобто складність злому робить його недоцільним.</p>
    <p>Проект динамічно розвивається: створено розділ, в якому здійснюється купівля картини, яку виставлено на інтернет аукціон,
    підключено ранжування творів художників за результатами відгуків відвідувачів.
    В планах створення карти творчості художника, яка будує графік кількості творів за періодами творчості. </p>
{% endblock %}
