{% extends 'static_content_base.html' %}

{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block breadcrumbs_title %}{% trans "About" %}{% endblock %}

{% block content %}
    <h1>{% trans "About" %}</h1>
    <p>Проект raisonne.info является систематизацией творчества выдающихся украинских художников в интернете.
    Raisonne.info – это свободный доступ интернет пользователя к архиву аутентичных произведений художников, к истории их создания;
    это площадка, на которой могут быть размещены работы из частных коллекций с публикацией информации о собственнике или в формате инкогнито.</p>

    <p>На базе проекта формируется общество наследников художников, которые являются правообладателями авторских прав,
    а также носителями информации об их великих родителях. Среди них Зарецкие, Григорьевы и др.
    С нашим проектом работают именитые эксперты Украины, дающие заключения на основании как анализа подписи произведения,
    слоев нанесения красок, наличия кракелюра, так и химического анализа, проводимого в лаборатории.
    Главным экспертом проекта является Дымшиц Эдуард Александрович.</p>

    <p>Изюминкой проекта является подлинность представленных работ:
    <ul>
        <li>В проекте публикуются только подлинники.</li>
        <li>При поступлении работы к нам для выкладывания ее в веб каталог нашими специалистами проводится анализ ее аутентичности:
            проверяются каталоги, изданные в разные годы, на наличие выкладываемой работы в каталогах. Экспертами проводится разноплановый анализ работы.</li>
        <li>Работа проходит проверку наследником, который может подтвердить ее принадлежность кисти предка из личных воспоминаний.</li>
    </ul></p>

    <p>Существует много первоклассных работ художников, о которых общественность и не догадывается.
    Из-за погони за легкой прибылью недобросовестные торговцы антиквариатом и картинами выбросили на рынок много фальшивых работ,
    которым присваивались имена великих мастеров.
    Проект raisonne.info стремится защитить ценителя искусства от приобретения фальшивых работ.
    И нам это удается в том смысле, что имея в своих каталогах большое количество работ, разбитых на периоды творчества,
    коллекционер может провести сравнение работы перед покупкой на аукционе с работами этого периода, представленными на raisonne.</p>

    <p>Raisonne.info позволяет найти интересующее произведение по характеристикам: например,
    пользователь хочет просмотреть список картин, написанных маслом художником Зарецким Виктором Ивановичем.
    Он выбирает Зарецкого из списка художников и ставит галочку на поле техника: масло.
    Система выбирает ему все работы художника, написанные маслом в форме каталога.</p>
    <p>Очень важной особенностью проекта является возможность увеличить изображение интересующей картины для детального анализа штриха автора, подписи и др.
    Эта возможность реализована с помощью технологии Deep Zoom.
    Система максимально защищена от несанкционированного доступа, от воровства качественного материала с сайта.
    Как бы заинтересованное лицо ни пыталось скопировать материал, максимум, что возможно, – это скопировать кусок изображения
    в зависимости от разрешения монитора. Получить полноформатное качественное изображение в файл с сайта пользователь не может.
    Для взлома системы нужно подключить команду программистов-профессионалов. Результат не окупит затраты на взлом,
    т.е. сложность взлома делает его нецелесообразным.</p>
    <p>Проект динамически развивается: создан раздел, в котором осуществляется покупка картины, выставленной на интернет аукцион,
    подключено ранжирование произведений художников по результатам отзывов посетителей.
    В планах создание карты творчества художника, которая строит график количества работ по периодам творчества. </p>
{% endblock %}
