{% extends "catalogue/worklot_list.html" %}

{% load i18n %}

{% block title %}Покупка, продажа картин, где купить картину, куплю картины маслом на холсте, аукцион живописи Киев{% endblock %}

{% block breadcrumbs_title %}{% trans "Works Auction" %}{% endblock %}

{% block content %}
    <h1>Купить картину</h1>
    <p>Здесь Вы можете приобрести картину интересующего художника.</p>
    <p>Купить картину можно двумя способами: либо в форме ставок на интернет аукционе (временно отключено), либо выкупив картину за цену выкупа.</p>
    <p>На аукционе могут быть представлены как лоты живописцев, работы которых каталогизированы на raisonne.info, так и лоты знаменитых художников, для которых в данный момент еще не составлен каталог на raisonne, однако ценность их произведений не оставляет сомнений, а аутентичность подтверждена экспертами. Среди таких художников: Васильковский Сергей Иванович, Кричевский Федор Григорьевич, Яблонская Татьяна Ниловна, Захаров Федор Захарович, Глущенко Николай Петрович и др. Работы художников, представленных на raisonne.info, успешно продаются на таких киевских арт аукционах: аукцион Корнерс, Золотое сечение, Ню арт, галерея Вернисаж, аукцион Арт капитал и др.</p>
    <p>Правила интернет аукциона:</p>
    <ul>
        <li>Для того чтобы сделать ставку, Вам необходимо иметь google account либо учетную запись в социальной сети facebook, twitter, вконтакте. Также можно пройти процедуру регистрации на raisonne.info.</li>
        <li>На странице аукциона Вы видите лоты с такими характеристиками: эстимейт – оценочная стоимость картины, время лота – промежуток оставшегося времени, в который можно сделать ставку для покупки картины, ставка – текущая ставка, на которую будет поднята стоимость лота, если Вы нажмете кнопку «Сделать ставку», выкуп картины – возможность выкупа картины по заявленной цене выкупа.</li>
        <li>Для каждого лота имеется история ставок.</li>
        <li>Ставка принимается системой после проверки нашим техническим специалистом подлинности аккаунта.</li>
        <li>Купля-продажа лота производится в офисе raisonne. При желании за дополнительную плату покупатель может получить пасспорт произведения, включая экспертное заключение подлинности.</li>
        <li>Если покупатель лота решит отказаться от купленной работы после оформления сделки и внесения средств за неё, то такое возможно лишь до момента, пока он не покинет офис компании с купленным лотом. Если он покинул офис с работой, то возврат работы становится невозможен.</li>
        <li>Если покупатель выиграл аукцион и решил отказаться от покупки лота в одностороннем порядке, то либо он уплачивает штраф в размере 10% от окончательной стоимости лота, либо, в случае отказа выплатить штраф, аккаунт покупателя навсегда блокируется системой, таким образом, данное лицо больше не сможет ничего купить на интернет аукционе raisonne. В таком случае лот может быть продан лицу, сделавшему предыдущую ставку.</li>
        <li>Raisonne не берет с покупателя никаких комиссионных, поэтому к стоимости лота не добавляется никакая добавленная стоимость.</li>
    </ul>
    <p>Также с представленными на аукционе работами можно детальнее познакомиться в нашем офисе по адресу: <quote>Киев, ул. Лейпцигская, 3А, оф.107</quote>.</p>
    <p>Для этого необходимо связаться с нами по телефону (044) 223-61-31 и согласовать время Вашего визита.</p>
    <p>Если Вы являетесь владельцем произведения тематики raisonne.info и хотите ее разместить на портале либо продать на аукционе, либо получить консультацию, пишите нам на e-mail: info@raisonne.info либо свяжитесь по одному из телефонов: (044) 223-61-31, (044) 254-21-05. В теле письма опишите, чем мы Вам можем быть полезны, также присоедините файл с изображением Вашего произведения.</p>
{% endblock %}
