{% extends "catalogue/worklot_list.html" %}

{% load i18n %}

{% block title %}Buy, sell a painting, ukrainian art for sale, paintings web auction sale Kiev{% endblock %}

{% block breadcrumbs_title %}{% trans "Works Auction" %}{% endblock %}

{% block content %}
    <h1>Buy a painting</h1>
    <p>Here you can buy arts of the painter that interests you.</p>
    <p>You can buy painting either by increasing bid price on our web auction (temporarily disabled) or giving buy-out price on the lot.</p>
    <p>Auction includes either lots of arts that catalogued on raisonne.info or the works of famous painters that are not web catalogued yet, but the value of them is no doubt and the authenticity is guaranteed by trusted experts. Among the painters are Vasilkovskiy Sergei Ivanovich, Krichevskiy Fedir Grygorovich, Yablonska Tetiana Nylivna, Zaharov Fedir Zaharovich, Glouschenko Mykola Petrovich etc.</p>
    <p>The rules of on-line art auction:</p>
    <ul>
        <li>To bid you need to have google account or facebook, twitter, vkontakte account. Also you can register on raisonne.info.</li>
        <li>You see the lots on auction page with the following descriptions: estimate – painting estimate price, lot time – caught-on time interval that allows you to make a stake on picture buying, stake – current stake that increases the lot price if you press the button «My stake», painting buyout – announced price buyout possibility.</li>
        <li>There is stakes history for any lot.</li>
        <li>The stake is accepted after system checking on account authenticity.</li>
        <li>Purchase realizes at raisonne office. Painting passport including authenticity expertise can be recieved for additional pay.</li>
        <li>If buyer decides to refuse the lot after purchase and payment are made, it is possible only till he stays at raisonne's office. If he is left with the lot return becomes impossible.</li>
        <li>If buyer wins the auction and decides to refuse the lot for no reason then either he pays penalty as 10% final lot cost or buyer's account blocks by system if he refuses to pay penalty. It becomes impossible to buy anything on raisonne auction for him. If such occurs lot can be sold for a buyer that made previous stake.</li>
        <li>Raisonne doesn't have any commision from buyer, thus nothing is added to final lot price.</li>
    </ul>
    <p>Also it is possible to have a look at any actual painting at our office: <quote>Kyiv, Leipzig str., 3А, of.107</quote>.</p>
    <p>To do that you need to contact us (044) 223-61-31 and coordinate time of your visit.</p>
    <p>If you own any raisonne subject art and you are willing to place it on our portal or sell it or simply consulting mail us: info@raisonne.info or contact us: (044) 223-61-31, (044) 254-21-05. If you contact by mail, please, join images on your paintings.</p>
{% endblock %}
