{% extends "catalogue/worklot_list.html" %}

{% load i18n %}

{% block title %}Купівля, продаж картин, де купити картину, куплю картини олією на полотні, аукціон живопису Київ{% endblock %}

{% block breadcrumbs_title %}{% trans "Works Auction" %}{% endblock %}

{% block content %}
    <h1>Купити картину</h1>
    <p>Тут Ви можете придбати картину художника, який Вас цікавить.</p>
    <p>Купити картину можна двомя шляхами: або у формі ставок на інтернет аукціоні (тимчасово відключено), або викупивши картину за ціну викупу.</p>
    <p>На аукціоні можуть бути представлені як лоти живописців, роботи яких каталогізовані на raisonne.info, так і лоти видатних художників, для яких на даний момент ще не створено каталогу на raisonne, проте цінність їхніх творів не залишає сумнівів, а автентичність підтверджена експертами. Серед таких художників: Васильківський Сергій Іванович, Кричевський Федір Григорович, Яблонськая Тетяна Нилівна, Захаров Федір Захарович, Глущенко Микола Петрович та інші. Роботи художників, які представлені на raisonne.info, з успіхом продаються на таких київських арт аукціонах: аукціон Корнерс, Золоте січення, Ню арт, галерея Вернісаж, аукціон Арт капітал та інші.</p>
    <p>Правила інтернет аукціону:</p>
    <ul>
        <li>Для того щоб зробити ставку, Вам необхідно мати google account або обліковий запис у соціальній мережі facebook, twitter, вконтакте. Також можна пройти процедуру реєстрації на raisonne.info.</li>
        <li>На сторінці аукціону Ви бачете лоти із такими характеристиками: естимейт – оцінна вартість картини, час лоту – проміжок часу, що лишився, в який можна зробити ставку для купівлі картини, ставка – поточна ставка, на яку буде підвищена вартість лоту, якщо Ви натиснете кнопку «Зробити ставку», викуп картини – можливість викупу картини за заявленною ціною викупу.</li>
        <li>Для кожного лоту існує історія ставок.</li>
        <li>Ставка приймається системою після перевірки нашим технічним спеціалістом справжності аккаунту.</li>
        <li>Купівля-продаж лоту відбувається в офісі raisonne. За бажанням за додаткову оплату покупець може отримати паспорт твору, включаючи експертний висновок щодо справжності.</li>
        <li>Якщо покупець лоту вирішить відмовитися від купленної роботи після оформлення операції і внесення коштів за неї, то таке можливо лише доти, доки він не покине офіс компанії із придбаним лотом. Якщо він покинув офіс із роботою, то повернення роботи стає неможливим.</li>
        <li>Якщо покупець виграв аукціон і вирішиі відмовитися віт покупки в односторонньому порядку, тоді або він виплачує штраф у розмірі 10% від остаточної вартості лоту, або, у випадку відмови оплатити штраф, аккаунт покупця назавжди блокується системою, таким чином, дана особа більше не зможе нічого купити на інтернет аукціоні raisonne. У такому випадку лот може бути проданим особі, що зробила попередню ставку.</li>
        <li>Raisonne не бере з покупця жодних комісійних, тому до вартості лоту не додається жодної додаткової вартості.</li>
    </ul>
    <p>Також із представленими на аукціоні роботами можна детальніше ознайомитися в нашому офісі за адресою: <quote>Київ, вул. Лейпцігська, 3А, оф.107</quote>.</p>
    <p>Для цього необхідно зв'язатися з нами за телефоном (044) 223-61-31 і узгодити час Вашого візиту.</p>
    <p>Якщо Ви володієте творами тематики raisonne.info і бажаєте їх розмістити на порталі або продати на аукціоні, або отримати консультацію, пишіть нам на e-mail: info@raisonne.info або зв'яжиться за одним з телефонів: (044) 223-61-31, (044) 254-21-05. У листі опишіть, чим ми Вам можемо бути корисними, також приєднайте файл із зображенням Вашого твору.</p>
{% endblock %}
