{% load future %}

<td><a href='{% if site %}http://{{ site.domain }}{% endif %}{% url 'catalog:search' %}?part_number={{ object.part_number }}'>{{ object.part_number }}</a></td>
<td>{{ object.name }}</td>
<td class='part-list-price'>{{ object.price|floatformat:'2' }}</td>
<td class='part-list-price'>{{ object.user_price|floatformat:'2' }}</td>
<td class='part-list-price'>{{ object.quantity|floatformat:'0' }}</td>
<td class='can-disable part-list-price'>{{ object.sum|floatformat:'2' }}</td>
<td class='part-list-marker'>{% if object.pending %}{{ object.pending|date:'Y-m-d' }}{% else %}+{% endif %}</td>
