{% extends 'catalog/base.html' %}

{% load future %}
{% load paging_extras %}

{% block title %}История заказов{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>История заказов</h1>
    {% paginate object_list from request as results per_page 20 %}
    <table>
        <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Тип оплаты</th>
            <th>Сумма</th>
        </tr>
    {% for order in results.objects %}
        <tr>
            <td><a href='{% url 'catalog:order_detail' order.pk %}'>{{ order.id }}</a></td>
            <td><a href='{% url 'catalog:order_detail' order.pk %}'>{{ order.date|date:'Y-m-d H:i' }}</a></td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.get_payment_type_display }}</td>
            <td>{{ order.sum|floatformat:'2' }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class='pager'>{{ results.paging }}</div>
{% endblock %}
