{% load url from future %}
<h2 class='block-title'>
    Последние новости
    <a class='see-all' href="{% url 'news_list' %}">Все новости</a>
</h2>
<div class='grids'>
    {% for news in news_list %}
        <div class='grid-01'>
            <div class='last-news'>
                <div class='last-news-date'>
                    <span class='last-news-dd-mm'>{{ news.created_on|date:'d.m' }}</span>
                    <span class='last-news-yyyy'>{{ news.created_on|date:'Y' }}</span>
                </div>
                <div class='last-news-text'> <a class='text-link' href="{{ news.get_absolute_url }}">{{ news.title }}</a></div>
            </div>
        </div>
    {% endfor %}
</div>
