{% extends 'event_detail.html' %}

{% load i18n markup %}
{% load thumbnail %}

{% block region %}
    <div class='single vblock first'>
        <div class='icon single image-center'>
            {% thumbnail event.icon THUMBNAIL_SETTINGS.FULLSCREEN_SIZE upscale=False as im_big %}
                {% thumbnail event.icon '190' upscale=False as im %}
                    <div class='image-content' style='width: {{ im.width }}px; height: {{ im.height }}px'>
                        <a class='colorbox' rel='content' href='{{ im_big.url }}'>
                            <img src='{{ im.url }}' width='{{ im.width }}' height='{{ im.height }}'/>
                        </a>
                    </div>
                {% endthumbnail %}
            {% endthumbnail %}
        </div>
        {% for content in event.content.sideleft %}
             {{ content.render }}
        {% endfor %}
    </div>
    <div class='double vblock'>
        {{ block.super }}
        {% for content in event.content.main %}
            {{ content.render }}
        {% endfor %}
    </div>
    <div class='single vblock'>
        {% for content in event.content.sideright %}
            {{ content.render }}
        {% endfor %}
    </div>
{% endblock %}
