<h1>Господарсько-якісні показники сортів картоплі КВС</h1>

<div class='content_render'>
    <table>
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td>Вміст крохмалю, %</td>
                <td>Вихід крохмалю  т/га (середнє)</td>
                <td>Колір мякоті</td>
                <td>Урожайність загальна, ц/га</td>
                <td>Тип варки ®</td>
                <td>Кулінарне призначення</td>
                <td>Маса товарної бульби, грам</td>
                <td>Товарність, %</td>
                <td>Лежкість при зберіганні, %</td>
                <td>Смакові якості, бал (1 – 5)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Рікеа</td>
                <td>11,5 – 11,9</td>
                <td>3,59</td>
                <td>Жовта</td>
                <td>400-443</td>
                <td>В</td>
                <td>Борщ, пюре,жарка, деруни</td>
                <td>51-92</td>
                <td>91- 96</td>
                <td>99</td>
                <td>4,0</td>
            </tr>
            <tr>
                <td>Альвара</td>
                <td>12,8 – 14,1</td>
                <td>5,92</td>
                <td>Світло-жовта</td>
                <td>397-420</td>
                <td>В</td>
                <td>Борщ, пюре, жарка, деруни</td>
                <td>90-104</td>
                <td>90-97</td>
                <td>99</td>
                <td>4,5</td>
            </tr>
            <tr>
                <td>Бернадетте</td>
                <td>10,0 – 11,1</td>
                <td>5,09</td>
                <td>Жовта</td>
                <td>426-466</td>
                <td>А, В</td>
                <td>Борщ,  жарка, деруни</td>
                <td>90-124</td>
                <td>90-98</td>
                <td>95</td>
                <td>4,5</td>
            </tr>
            <tr>
                <td>Лабадія</td>
                <td>12,2 – 16,4</td>
                <td>5,37</td>
                <td>Жовта</td>
                <td>507-580</td>
                <td>В</td>
                <td>Борщ, пюре, жарка, деруни </td>
                <td>157-200</td>
                <td>89-98</td>
                <td>97</td>
                <td>4,5</td>
            </tr>
            <tr>
                <td>Рамос</td>
                <td>13,4 – 16,0</td>
                <td>4,35</td>
                <td>Світло-жовтий</td>
                <td>498-537</td>
                <td>ВС</td>
                <td>Борщ, жарка</td>
                <td>98-151</td>
                <td>90-99</td>
                <td>97</td>
                <td>4,5 – 5,0</td>
            </tr>
        </tbody>
    </table>

    <strong>®Тип варки: </strong>
    <strong>A</strong> - твердий (салатний)
    <strong>B</strong> - середньо твердий
    <strong>C</strong> - розсипчастий
    <strong>D</strong> - дуже розсипчастий
</div>