{% extends "base.html" %}

{% load thumbnail %}

{% block content %}
    <div class="main-page-pictures">
        <h1>Музейный центр Е. П. Блаватской и ее семьи</h1>
        <img src="{{ STATIC_URL }}images/museum-fasad.jpg" alt="Музейный центр Е. П. Блаватской и ее семьи">
    </div>
    <div class="main-page-inform">
            <h2>г. Днепропетровск, ул. Ленинградская, 11</h2>

            <p>Музейный центр Е.П.Блаватской и ее семьи находится на этапе создания.</p>
            <p> Расположен он в доме-памятнике на территории старинной екатеринославской городской усадьбы, которая в
                <b> 1816 – 1834 годах </b> принадлежала А.М.Фадееву. Здесь, в доме деда
                <b>12 августа</b> ( 31 июля по старому стилю) родилась <b> Елена Петровна Блаватская </b> – выдающийся исследователь древних учений, философ, религиовед, писательница, создатель Международного теософского общества.
            </p>
            <p>
                Сегодня в Музейном Центре идут работы по созданию историко-архитектурного и научно-музееведческого проектов.
                В здании уже сейчас, не дожидаясь (в силу обстоятельств) завершения всех подготовительных этапов работы по созданию музея,
                развернуты пилотные экспозиции, работает научная библиотека, проводятся клубные встречи.
            </p>
            <p>
                Воссоздавая историю, Музейный центр Е.П.Блаватской и ее семьи устремлен в будущее.
                По замыслу он должен стать
                <i>«Обителью всех родов Прекрасного и вовсе не в смысле лишь сохранения тех или иных образцов,
                но в смысле жизненного и творящего применения их» (Николая Рерих).</i>
            </p>
    </div>
{% endblock %}
