{% extends 'content_base.html' %}

{% block content %}
    {{ block.super }}
    <p>Компания ТЕХНОЛЕНД была основана в 2007 году.</p>

    <p>Основное направление деятельности — продажа запчастей для автомобилей TOYOTA, LEXUS, HYUNDAI, KIA. Мы осуществляем
        поставки только оригинальных автозапчастей от европейских и японских производителей со складов Европы, ОАЭ,
        Японии и Америки. Следуя выбранной нами стратегии, в основе которой лежит знание рынка и опыт работы с
        производителями и поставщиками, мы постоянно расширяем номенклатуру поставляемой продукции. Благодаря этому мы
        можем обеспечить Вас любой оригинальной деталью – от маленькой клипсы до большой кузовной детали.</p>

    <p>Мы стараемся удовлетворить любые пожелания наших клиентов. В каждом случае мы стараемся найти наиболее выгодный
        для обеих сторон способ сотрудничества. Для постоянных покупателей действует система накопительных и специальных
        скидок.</p>

    <p>Благодаря профессионализму и слаженности коллектива нам удалось в столь короткое время завоевать существенную
        часть рынка. Услугами «ТЕХНОЛЕНД» регулярно пользуются станции технического обслуживания, автомобильные
        магазины, специализированные автомобильные фирмы, а также непосредственно владельцы автомобилей – всего более
        500 клиентов.</p>

    <p>Преимущества сотрудничества с нами:</p>

    <ul>
        <li>обширный ассортимент и наличие деталей для технического обслуживания и текущего ремонта автомобилей;</li>
            <li>только оригинальные и качественные запчасти ведущих производителей;</li>
            <li>индивидуальный подход и гибкая система скидок;</li>
            <li>подробные консультации по любым вопросам, связанным с запчастями, по телефону или e-mail;</li>
            <li>Вы минуете посредников, а значит, не переплачиваете лишнее;</li>
            <li>оперативная доставка имеющихся в наличии запчастей;</li>
            <li>прайс и заказы, а также их выполнение доступны на сайте в режиме on-line;</li>
            <li>возможность установки запасных частей на автосервисе наших партнеров:ь необходимые автозапчасти для вашего автомобиля.</li>
    </ul>
{% endblock %}
