{% extends 'content_base.html' %}

{% load future %}

{% block content %}
    {{ block.super }}
    <ol class='sparse-list'>
        <li>Перед тем как начать поиск деталей и формировать свой заказ, Вам необходимо зайти на сайт под своим логином и паролем.
            Если вы еще не зарегистрированы на нашем сайте, вам необходимо будет это сделать, заполнив все необходимые поля
            в разделе <strong>«<a href='{% url 'account:register' %}'>Регистрация</a>»</strong>.
        </li>
        <li>Для поиска по номеру детали введите номер детали и нажмите кнопку <strong>«ПОИСК»</strong>.
            (Поиск автозапчасти осуществляется по оригинальному номеру производителя.
            Номера деталей можно указывать как с символами "<strong>&ndash;</strong>" и "пробел", так и без них.
            Система заказа сама уберет эти символы из номера при осуществлении поиска).
        </li>
        <li>В отобразившейся странице Вы можете видеть наличие товара и свою закупочную цену.</li>
        <li>При готовности осуществить заказ выбранной Вами детали &mdash; необходимо указать количество и нажать на иконку <strong>«КУПИТЬ»</strong>.
            Если у Вас большой список интересующих Вас деталей, необходимо повторить действия пунктов 3 и 5 для каждой детали.
        </li>
        <li>Для того, чтобы осуществить просмотр деталей, которые Вы отправили в корзину необходимо нажать на ссылку <strong>«КОРЗИНА»</strong>.</li>
        <li>В колонке <strong>«ОПЕРАЦИИ»</strong> Вы можете произвести как удаление, так и редактирование количества каждой позиции.
            Вы можете искать другие детали по поиску, или вообще выйти из сайта, в любом случае детали, добавленные в корзину,
            сохранятся в корзине и при следующем входе для их просмотра Вам необходимо будет зайти в корзину.
        </li>
        <li>Для завершения оформления заказа и отправки его менеджеру необходимо:
            <ol class='inline-list'>
                <li>В поле <strong>«Комментарий»</strong> указать:
                    <ul class='inline-list'>
                        <li>вид расчета;</li>
                        <li>что необходимо сделать с заказом (произвести резерв, сделать доставку, сделать отправку, переместить в офис для самовывоза);</li>
                        <li>указать адрес доставки или город и получателя, при отправке заказанного товара в регионы;</li>
                    </ul>
                </li>
                <li>Нажать <strong>«Оформить ЗАКАЗ»</strong>.
                    <br/><strong class='important'>Примечание:</strong> состояние ваших заказов на каждой стадии их обработки и выполнения доступно Вам в режиме on-line.
                </li>
            </ol>
        </li>
    </ol>
{% endblock %}
