{% extends 'content_base.html' %}

{% block content %}
    {{ block.super }}
    <p>Мы осуществляем доставку:</p>
    <ul>
        <li><a href='#delivery-kiev'>По Киеву</a> &mdash; собственным транспортом</li>
        <li><a href='#delivery-ukraine'>По Украине</a> &mdash; через транспортные компании </li>
    </ul>

    <h2 id='delivery-kiev'>Доставка по Киеву</h2>

    <p>Если вы не можете забрать заказ самостоятельно, наша компания оперативно доставит его по указанному вами адресу в пределах города.</p>

    <h3>Доставки производятся по графику:</h3>
    <p><span class='important'>с понедельника по пятницу:</span></p>
    <ul>
        <li><strong>11.00 и 15.00</strong> &mdash; направление левого берега (Московская пл., Березняки, Харьковский массив, Дарница);</li>
        <li><strong>11.00</strong> &mdash; направление правого берега (Святошинский, Шевченковский, Подольский, Деснянский р-ны);</li>
        <li><strong>16.00</strong> &mdash; направление правого берега (Соломенский, Шевченковский, Подольский районы), Деснянский - по согласованию;</li>
    </ul>
    <p>Заказы, оформленные за 20 минут до времени выезда будут включены в ближайшую доставку.</p>
    <p>Заказы, оформленные менее 20 минут до времени выезда будут включены в следующую доставку.</p>

    <p><span class='important'>суббота:</span></p>
    <ul>
        <li>Выезд одной машины в <strong>11.00</strong></li>
    </ul>

    <p><span class='important'>Примечание:</span> Стоимость доставки  уточняйте у менеджеров. Доставка осуществляется  в  течении 4-х часов от времени выезда.</p>

    <h2 id='delivery-ukraine'>Доставка по Украине</h2>

    <p>Сотрудничество с ведущими транспортными компаниями позволяет организовать отправку заказов по всей территории Украины. Это наиболее надежный, экономичный и быстрый способ доставки для клиентов из других регионов. В этом случае доставка осуществляется в один из узлов транспортной компании, после чего клиент забирает товар самостоятельно. После отправки мы сообщим Вам номер декларации и дату прибытия. Транспортные расходы оплачиваются заказчиком при получении. Расписание рейсов и стоимость доставки вы можете узнать на сайтах компаний перевозчиков.</p>

    <p>Все заказы из других областей принимаются:</p>

    <p><span class='important'>с понедельника по пятницу:</span></p>
    <ul>
        <li>до 14.30 для отправки перевозчиком «Гюнсел»  и «Новая Почта»</li>
        <li>до 15.30 для отправки перевозчиком «САТ»</li>
        <li>до 16.30 для отправки перевозчиком «Ночной Экспресс»</li>
    </ul>

    <p><span class='important'>суббота:</span></p>
    <ul>
        <li>до 10.45 для отправки перевозчиком «Гюнсел»</li>
    </ul>

    <table border='1' align='center' width='400px'>
        <thead>
            <tr>
                <th height='37' colspan='2'>Компании перевозчики</th>
            </tr>
            <tr>
                <th height='31'>Наименование</th>
                <th>Сайт</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Гюнсел</td>
                <td><a target='_blank' href='http://www.gunsel.ua'>www.gunsel.ua</a></td>
            </tr>
            <tr>
                <td>Новая почта</td>
                <td><a target='_blank' href='http://www.novaposhta.com.ua'>www.novaposhta.com.ua</a></td>
            </tr>
            <tr>
                <td>САТ</td>
                <td><a target='_blank' href='http://www.sat.ua'>www.sat.ua</a></td>
            </tr>
            <tr>
                <td>Ночной экспресс</td>
                <td><a target='_blank' href='http://www.nexpress.com.ua'>www.nexpress.com.ua</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
