{% extends "fancy_base.html" %}

{% load future %}
{% load markup %}
{% load thumbnail %}

{% block title %}{{ block.super }} | Задачи фонда им. Е.П. Блаватской {% endblock %}

{% block content %}
    {% for object in object_list %}
    <div class="member-pictures fancy-image">
        {% thumbnail object.main_photo "270" as im %}
            <a rel='fond' href="{{ object.main_photo.url }}" title="{{ object.title_for_main_photo }}"><img src="{{ im.url }}" alt="{{ im.title_for_main_photo }}"></a>
        {% endthumbnail %}
        <p>{{ object.title_for_main_photo }}</p>
        {% for photo in object.photo_set.all %}
            {% thumbnail photo.image "270" as im %}
                <a  rel='fond' href="{{ photo.image.url }}" title="{{ photo.title }}"><img src="{{ im.url }}" alt="{{ im.title }}"></a>
            {% endthumbnail %}
            <p>{{ photo.title }}</p>
        {% endfor %}
    </div>
    <div class="member-inform">
        <h1>{{ object.title }}</h1>
        <div class="member-text">
            {{ object.text|restructuredtext }}
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block element_edit %}
    <a class="h-link" href="{% url 'admin:fondtasks_fondtask_changelist' %}">Редактировать</a>
{% endblock %}
