{% extends "fancy_base.html" %}

{% load future %}
{% load markup %}
{% load thumbnail %}

{% block title %}{{ block.super }} | {{ object }}{% endblock %}

{% block content %}
    <div class="member-pictures fancy-image">
        {% thumbnail object.main_picture "270" as im %}
            <a rel='news' href="{{ object.main_picture.url }}" title="{{ object.title_for_main_picture }}"><img src="{{ im.url }}" alt="{{ im.title_for_main_picture }}"></a>
        {% endthumbnail %}
        <p>{{ object.title_for_main_picture }}</p>
        {% for photo in object.photo_set.all %}
            {% thumbnail photo.image "270" as im %}
                <a  rel='news' href="{{ photo.image.url }}" title="{{ photo.title }}"><img src="{{ im.url }}" alt="{{ im.title }}"></a>
            {% endthumbnail %}
            <p>{{ photo.title }}</p>
        {% endfor %}
    </div>
    <div class="member-inform">
        <h1>{{ object.title }}</h1>
        <p>{{ object.published_date }}</p>
        <h2>{{ object.preview }}</h2>
        <div class="member-text">
            {{ object.text|restructuredtext }}
        </div>
    </div>
{% endblock %}

{% block element_edit %}
    <a class="h-link" href="{% url 'admin:news_onenew_change' object.id %}">Редактировать</a>
{% endblock %}

