{% extends "base.html" %}

{% load i18n webdesign %}

{% block main %}
    <div class='hblock'>
        <div id='side' class='first container single'>
            <div id='menu-main' class='first block single top'>
                {% include 'menu_main.html' %}
            </div>
            {% block side %}
            {% endblock %}
        </div>
        <div id='content' class='container quad'>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
