{% extends 'base_sidebar.html' %}

{% load i18n %}
{% load statictags %}

{% block content %}
    <h3>{% trans "Kyiv Oblast for Tourists" %}</h3>
    <div class='vblock first quad'>
        <ul>
            <li><a href="#film" title="{% trans "Video about Kyiv oblast" %}">{% trans "Video about Kyiv oblast" %}</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=JxcIQ_e_gag" title='І-й туристичний фестиваль "Київщина туристична-2012"'>І-й туристичний фестиваль &laquo;Київщина туристична-2012&raquo;</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=VuSpW0ZwRbw" title='І-й туристичний фестиваль "Київщина туристична-2012" - 2'>І-й туристичний фестиваль &laquo;Київщина туристична-2012&raquo; - 2</a></li>
        </ul>
    </div>
    <div class='vblock first double'>
        <ul>
            <li><a target='blank' href="http://www.youtube.com/watch?v=yUjQnmwR_k0" title="Володарщина-1">Володарщина-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=nCaqdveg4HA" title="Володарщина-2">Володарщина-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=7izA7BUWCCw" title="Баришівщина">Баришівщина</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=hirsbgGak6I" title="Білоцерківщина">Білоцерківщина</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=jdcp95V6778" title="Бориспільщина">Бориспільщина</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=q8_nuGSRSRw" title="Богуславщина">Богуславщина</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=DWQY2wKloRc" title="Бородянщина 1 + 2">Бородянщина 1 + 2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=OrXn7o-d4Dk" title="БОРОВА">БОРОВА</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=hORJtDWDa7M" title="Васильківщина">Васильківщина</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=jDRui-CoZY0" title="Велопробіг поясом Слави">Велопробіг поясом Слави</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=JgyTv_cSQwk" title="Велотур &laquo;Барвиста Київщина&raquo;">Велотур "Барвиста Київщина"</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=71I11ITEooU" title="Дніпровський уїкенд">Дніпровський уїкенд</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=xKOV59wjqX0" title="До Київського моря">До Київського моря</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=o0uf98qtVUc" title="Згурівський парк">Згурівський парк</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=MQnBZEF55Qg" title="Згурівщина-1">Згурівщина-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=ihmNErlh0K4" title="Згурівщина-2">Згурівщина-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=IU8_TechjBQ" title="Кагарлицький край-1">Кагарлицький край-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=uI1j5A7GQmw" title="Кагарлицький край-2">Кагарлицький край-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=vmnrvzAY08I" title="Києво-Святошинський район-1">Києво-Святошинський район-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=KzvDQBdEDUk" title="Києво-Святошинський район-2">Києво-Святошинскький район-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=1daK95P7kqM" title="Козацькими шляхами">Козацькими шляхами</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=Fv8a8YGveow" title="Музейні скарбниці Київщини">Музейні скарбниці Київщини</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=JcZTs1Bx84M" title="Місцями бойової слави Київщини">Місцями бойової слави Київщини</a></li>
        </ul>
    </div>
    <div class='vblock double'>
        <ul>
            <li><a target='blank' href="http://www.youtube.com/watch?v=Q3k8kLleaew" title="Музей-садиба І.Козловського">Музей-садиба І.Козловського</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=QaBYYM8Sm7c" title="Обухівщина-1">Обухівщина-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=NoSK2cGh300" title="Обухівщина-2">Обухівщина-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=IURtSS97mIc" title="Парк Київська Русь">Парк Київська Русь</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=_ObE7lE-2L8" title="Парки Київщини">Парки Київщини</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=js13pE_DDa4" title="Подорож річкою Рось">Подорож річкою Рось</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=1smK7QjWD7g" title="Переяславщина">Переяславщина</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=3EPE8RBirwQ" title="Приірпіння-1">Приірпіння-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=LPWSgNKIRE0" title="Приірпіння-2">Приірпіння-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=sSdRxpy4t2M" title="Рокитнянщина-1">Рокитнянщина-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=ESL96IWG_Us" title="Рокитнянщина-2">Рокитнянщина-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=npC9WUDs9XM" title="Свято вареника">Свято вареника</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=V_Ar4_02a9w" title="Сільський зелений туризм Київщини -1">Сільський зелений туризм Київщини -1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=TI1T6xiSzco" title="Сільський зелений туризм Київщини-2">Сільський зелений туризм Київщини-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=B07aY0Uf044" title="Таращанщина">Таращанщина</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=0yP7PqDvNB4" title="Тетіївщина">Тетіївщина</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=swntPWI3LXk" title="Трипільська культура Київщини">Трипільська культура Київщини</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=pg8CGzwNF6k" title="Фастівщина-1">Фастівщина-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=Q6xylPOXFRM" title="Фастівщина-2">Фастівщина-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=vJlkGjtn61Q" title="Фестиваль Київська Русь">Фестиваль Київська Русь</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=BIcNfKnFBIk" title="Фестиваль туристичної журналістики-1">Фестиваль туристичної журналістики-1</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=S81e1EL1SZs" title="Фестиваль туристичної журналістики-2">Фестиваль туристичної журналістики-2</a></li>
            <li><a target='blank' href="http://www.youtube.com/watch?v=X7wvup2tcNM" title="Християнські святині Київщини">Християнські святині Київщини</a></li>
        </ul>
    </div>
    <div class='vblock first quad'>
        <h3 id='film'>{% trans "Video about Kyiv oblast" %}</h3>
        <div style='padding-left: 11px;'>
            <object id='Object1' type='application/x-shockwave-flash' data='{% static 'swf/player_flv_maxi.swf' %}' width='768' height='576'>
            <param name='movie' value={% static 'swf/player_flv_maxi.swf' %} />
            <param name='wmode' value='opaque' />
            <param name='allowFullScreen' value='true' />
            <param name='allowScriptAccess' value='sameDomain' />
            <param name='quality' value='high' />
            <param name='menu' value='true' />
            <param name='autoplay' value='true' />
            <param name='autoload' value='true' />
            <param name='FlashVars' value='flv={{ MEDIA_URL }}video/promo_{{ LANGUAGE_CODE }}.flv&width=768&height=576&autoplay=1&autoload=0&buffer=5&buffermessage={% trans "loading..." %}&playercolor=464646&loadingcolor=999898&buttoncolor=ffffff&buttonovercolor=dddcdc&slidercolor=ffffff&sliderovercolor=dddcdc&showvolume=1&showfullscreen=1&playeralpha=50&title={% trans "Video about Kyiv oblast" %}&margin=0&buffershowbg=0' />
            </object>
        </div>
    </div>
{% endblock %}
