{% load i18n %}

<h3>{% trans "Welcome" %}</h3>
<div class='welcome-content'>
    <h2 class='ko-welcome-head'>{% trans "Dear ladies and gentlemen" %}</h2>
    <div id='banner-ko' class='fill'></div>
    <p class='ko-welcome-body'>{% trans "Unique beauty of nature, blown upon by history ancient locks, wooden churches and ancient temples, museums and preserves, picturesque traditions and customs, always young folk trades and handicrafts, healthful sources, hospitality of owners, originality of national kitchen, comfort and high-quality service open wonderful possibility of wide assortment of unforgettable trips, interesting pastime and healthy rest in the Kyiv region." %}</p>
    <h3 class='ko-welcome-foot'>{% trans "Welcome to generous and hospitable Kyivshchina!" %}</h3>
</div>

